*{
	margin:0;
	padding:0;
	color: #fff;
	font-family: SimSun;
}
@media screen and (max-width:550px) {
.total{
        font-size:60%;
    }
}
body{
	width: 100%;
<<<<<<< HEAD
        max-width:640px;
=======
	max-width:640px;
>>>>>>> dbe886f387af1d759a99c093142803c87c836d4c
	margin:0 auto;
}
.total{
	width: 100%;
	max-width: 640px;
	background-color: #68cdd5;
}
.header{
	width:100%;
	background-color: #22292c;
	position:relative;
}
.return{
	position: absolute;
	width: 100%;
	font-size: 1.7em;
	top: 30%;
	left: 3%
}
.return img{
	width: 3.5%;
	height: auto;
	max-width: 100%;
	display:block;
}
.return span{
	
	display: block;
	position:absolute;
	top:1%;
	left:4%;
}
.header h1{
	font-size: 200%;
	text-align: center;
	padding: 4% 0;
}
.pi1{
	position: absolute;
	top: 40%;
	right:2.5%;
}
.pi1 img{
	width: 100%;
	max-width: 37px;
}
.main{
	width:100%;
    position: relative;
}
.pi2{
		
		width: 8%;
		position: absolute;
		left: 5%;
	    top: 4%;
}
.pi2 img{
	width: 100%;
}
.logo{
		max-width: 185px;
		display: block;
		margin-left: 33%;
		margin-right: 33%;
	    padding-top: 15%;
}
.logo img{
	width:100%;
}
.main p{
		width: 67%;
		font-size: 176%;
		margin: 0 auto;
		padding-top: 20%;
		line-height: 180%;
}
	
.footer{
		width: 100%;
		padding-top:8%;

}
.footer p{
	padding-top: 10%;
	font-size: 1.5em;
	
}

.pi3 {
    	width:20%;
    	float:left;
		padding-left: 21%;
		padding-top: 14%;
}
.pi3 img {
		width: 100%;
    	max-width:86px;
    	padding-left:20%;
}
.pi4{
    	width:20%;
    	float:right;
    	padding-right: 21%;
		padding-top: 14%;
	}
.pi4 img {
		width: 100%;
    	max-width:86px;
    	padding-left:20%;
}
.float{
		clear: both;
		padding-bottom: 15%;
}