
body{
	background-color:#29bde0;
	font-family: "微软雅黑";
	color: #FFFFFF;
	width: 100%;
	margin: 0;
	 font-size:4vw;
}

#container{
	width: 100%;
}


#banner{
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	vertical-align: text-bottom;
	position: relative;
	max-height: 5%;
	font-size: 5vw;
	padding: 5% 0;
}
#gameResult{
	clear: both;
}
#home{
	float: left;
	padding-left: 10px;
	width: 5%;
}
#home img{
	width: 100%;
}

#info{
	float: right;
	padding-right: 10px;
	width: 5%;
}

#info img{
	width: 100%;
}

#content{
	text-align: center;

	margin: 10px auto;	
	width: 60%;
}


#result{
  width:70%;
	text-align: center;
	padding: 3% 14% ;
	color:#fff;
}
#result img{
    width:100%;
    max-width: 640px;
}
#slogan{
	
	position: relative;
  margin:-20% 0 10% 0;
  font-size:4vw;
}

#text{
	width: 60%;
	margin: 0 20%;
	color: #ffc865;
	font-weight: bolder;
}

#statistic{
	clear: both;
	width: 60%;
	margin: 0 20%;
}
#character{
	width: 60%;
	margin: 0 20%;
}

#character div{
	margin-right: 10px ;
	float: left;
}
#record{
	clear: both;
	background-color: #FFFFFF;
}

#list{
	clear: both;
	border-top-style: solid;
	border-top-color: #bbbbbb;
	border-width: thin;
	width: 60%;
	padding: 0 20%;
}

#day{
	color: #223344;
	font-size: 5vw;
	float: left;
}
#time{
	color:#999999;
	float: right;
}

.light{
	clear: both;
	color: #777777;
}

#footer{
	width: 100%;
	max-height: 40px;
	padding:3% 0;
	 position:fixed;
    bottom:0;
   background:rgba(153,223,240,0.7);
}

#next{
	width: 30%;
	text-align: center;
	background: gold;
	margin: 0 10%;
	font-size:4vw;
	float: left;
	border-radius: 5px;
}
